<%= form_for(@ano_lectivo) do |f| %>
  <% if @ano_lectivo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ano_lectivo.errors.count, "error") %> prohibited this ano_lectivo from being saved:</h2>

      <ul>
      <% @ano_lectivo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ano_lectivo %><br />
    <%= f.text_field :ano_lectivo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
