
<%= search_form_for @search, url: search_socios_path, method: :post do |f| %>
    <h2 class="form-signin-heading">Search</h2>
    <%= f.text_field :num_aluno_eq, :class => "form-control input-sm", :placeholder => "número de aluno" %>  
    <%= f.text_field :nome_cont, :class => "form-control input-sm", :placeholder => "nome parcial" %>
    <%= f.submit "Search", :class => 'btn btn-primary btn-block input-sm' %>

<% end %>

<% if !@socios.nil? %>

<table class="table table-condensed">
  <tr>
    <th>Num aluno</th>
    <th>Nome</th>
    <th>Morada</th>
    <th>Telemovel</th>
    <th>Email</th>
    <th></th>
  </tr>

<% @socios.each do |socio| %>
  <tr>
    <td><%= socio.num_aluno %></td>
    <td><%= link_to socio.nome, socio %></td>
    <td><%= socio.morada %></td>
    <td><%= socio.telemovel %></td>
    <td><%= socio.email %></td>
    <td><small>
    <%= link_to 'Show', socio %>
    <%= link_to 'Edit', edit_socio_path(socio) %>
    </small></td>
  </tr>
<% end %>

</table>

<% end %>
