<h1>Listing socios</h1>

<table class="table table-condensed">
  <tr>
    <th>Num aluno</th>
    <th>Nome</th>
    <th>Morada</th>
    <th>Cod postal</th>
    <th>Localidade</th>
    <th>Telemovel</th>
    <th>Nascimento</th>
    <th>Email</th>
    <th>Bi</th>
    <th>Foto</th>
    <th>Newsletter</th>
    <th>Entidades</th>
    <th></th>
  </tr>

<% @socios.each do |socio| %>
  <tr>
    <td><%= socio.num_aluno %></td>
    <td><%= socio.nome %></td>
    <td><%= socio.morada %></td>
    <td><%= socio.cod_postal %></td>
    <td><%= socio.localidade %></td>
    <td><%= socio.telemovel %></td>
    <td><%= socio.nascimento %></td>
    <td><%= socio.email %></td>
    <td><%= socio.bi %></td>
    <td><%= socio.foto %></td>
    <td><%= socio.newsletter %></td>
    <td><%= socio.entidades %></td>
    <td><small><%= link_to 'Show', socio %> | <%= link_to 'Edit', edit_socio_path(socio) %></small></td>
  </tr>
<% end %>
</table>
