<div class="show_socio">

<p>
  <b>Num aluno:</b>
  <%= @socio.num_aluno %>
</p>

<p>
  <b>Nome:</b>
  <%= @socio.nome %>
</p>

<p>
  <b>Curso:</b>
  <%= Curso.find(@socio.curso_id).designacao %>
  <%= @socio.curso_id %>
</p>

<p>
  <b>Morada:</b>
  <%= @socio.morada %>
</p>

<p>
  <b>Cod postal:</b>
  <%= @socio.cod_postal %>
</p>

<p>
  <b>Localidade:</b>
  <%= @socio.localidade %>
</p>

<p>
  <b>Telemovel:</b>
  <%= @socio.telemovel %>
</p>

<p>
  <b>Nascimento:</b>
  <%= @socio.nascimento %>
</p>

<p>
  <b>Email:</b>
  <%= @socio.email %>
</p>

<p>
  <b>BI/CC:</b>
  <%= @socio.bi %>
</p>

<p>
  <b>Estado civil:</b>
  <%= @socio.estado_civil %>
</p>

<p>
  <b>Foto:</b>
  <%= image_tag @socio.foto_url(:thumb) if @socio.foto? %>
</p>

<p>
  <b>Aceita receber informação via email:</b>
  <%= @socio.permite_email %>
</p>

<p>
  <b>Aceita receber informação via sms:</b>
  <%= @socio.permite_sms %>
</p>

<p>
  <b>Ano Lectivo:</b>
  <big><%= AnoLectivo.find(@socio.ano_lectivo_id).ano_lectivo %></big>
</p>

<% if @socio.ano_lectivo_id != AnoLectivo.last(1)[0].id %>
<%= form_for(@socio) do |f| %>
  <h3>Renovação</h3>
  <% if @socio.telemovel.nil? %>
  <div class="form-group">
    <%= f.label :telemovel %><br />
    <%= f.text_field :telemovel, :class => "form-control" %>
  </div>
  <% end %>
  <% if @socio.estado_civil.nil? %>
  <div class="form-group">
    <%= f.label :estado_civil %><br />
    <%= f.text_field :estado_civil, :class => "form-control" %>
  </div>
  <% end %>
  <% if @socio.permite_email.nil? %>
  <div class="checkbox">
    <label>
    <%= f.check_box :permite_email %> Aceita receber informação via email
    </label>
  </div>
  <% end %>
  <% if @socio.permite_email.nil? %>
  <div class="checkbox">
    <label>
    <%= f.check_box :permite_sms %> Aceita receber informação via sms
    </label>
  </div>
  <% end %>
  <%= f.hidden_field :ano_lectivo_id, :value => AnoLectivo.last(1)[0].id, :class => "form-control" %>
  <%= f.submit 'Renovar', :class => 'btn btn-lg btn-warning btn-block'%>
<% end %>
<% end %>

<small>
<%= link_to 'Editar', edit_socio_path(@socio) %> |
<%= link_to 'Voltar', socios_path %>
</small>

</div>
